<div class="map">
</div>

<div class="container">
  <div class="flat-show-card bg-light shadow-sm rounded">
    <h1><%= @flat.name %></h1>
    <p><%= @flat.address %></p>
  </div>

  <div class="flat-show-card bg-light shadow-sm rounded">
    <h2>A bit more about this flat</h2>
    <p><%= @flat.description %></p>
  </div>

  <div class="flat-show-card bg-light shadow-sm rounded">
    <h2>Details</h2>
    <p><i class="fas fa-euro-sign"></i> <%= flat.price_per_night %> <i class="fas fa-user-friends"></i> <%= flat.number_of_guests %></p>
  </div>
</div>