<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar bg-light">
      <%= link_to 'Simple Airbnb', flats_path %>
      <%= link_to 'Add flat', new_flat_path, class: "btn btn-outline-primary" %>
    </div>
   
    <%= yield %>

  <script src="https://kit.fontawesome.com/68b182730c.js" crossorigin="anonymous"></script>
  </body>
</html>
